/* fit entire window display and font choice */
*{
  padding: 0px;
  margin: 0px;
  font-family: 'Dosis' ;
}

body{
  background-color: #3A2D32;
}

.header{
  text-align: center;
  background-color: #3A2D32;
  width: 75%;
  right: 0px;
  position: fixed;
  z-index: 0;
  color: #FFE3DC;
}

/*Uses flexbox as well as fixed*/
 .sideNav{
  position: fixed;
  height: 100%;
  width: 25%;
  background-color: #DBB4AD;
  z-index: 1;
  text-align: center;
  padding-top: 10px;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainContainer{
  padding-top: 50px;
  position: absolute;
  right: 7px;
  width: 72%;
  z-index: -1;
  text-align: center;
  color: #FFE3DC;
}

/*added padding for text to look better*/
.contentContainer{
  position: absolute;
  padding-left: 20vmin;
  padding-right: 20vmin;
  box-sizing:border-box;
  text-align: left;
  right: 0px;
  background-color: #A2AD91;
  color:#3A2D32;
  padding-bottom: 30px;
}

.contentContainer > p {
  box-sizing: border-box;
  padding: 10px;
}

/*flexbox used + even spacing betwene images*/
.thumbnailContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  padding-bottom: 10px;
}

.thumbnailContainer img{
  width: 33%
}

.sectionHeader{
  font-size: 32pt;
  margin-top: 128px;
  margin-bottom: 64px;
}

.imageTitle{
  display: flex;
  width: 100%;
}

p{
  font-size: 24px;
}

/*flexbox used*/
.logo{
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 5vmin;
}
/* making buttons look nice and stylizing them*/
button {
  background-color: #FFE3DC;
  height: 10vmin;
  width: 90%;
  opacity: 0.6;
  border-radius: 12px;
  transition: 0.3s;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Dosis'
}

button:hover{
  background-color: #D30C7B;
  opacity: 1;
}
/*links*/
a, a:hover, a:active{
  color: #3A2D32;
  text-decoration: none;
}

h1{
  font-size: 45px;
}
